{{#each}}
    <h2>
        {{this.title}}
    </h2>
    <ul>
        <p>
            {{this.description}}<br>
            {{this.price}}<br>
            {{this.thumbail}}<br>
            {{this.code}}<br>
            {{this.stock}}<br>
        </p>
    </ul>
{{/each}}